[Unit]
Description=Webitel Cases Service
After=network.target

[Service]
Type=simple
Restart=always
TimeoutStartSec=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=WebitelCases
EnvironmentFile=/etc/default/webitel-cases
ExecStart=webitel-cases

[Install]
WantedBy=multi-user.target